<mat-nav-list>
    <div class="logo">
        <img src="./assets/tem.jpg" style="max-height: 90px;width: 125px;" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"></h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="task-page">Upload</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="fibonacci-series">Fibonacci Series</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="substring">Balanced SubString</a>
    
    <!-- source-config -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="quiz">Quiz</a> -->
</mat-nav-list>