<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon style="color: white;">menu</mat-icon>
      </button>
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <img src="./assets/user1.jpg" alt="" class="align-items-center user-image mr-2 p-1" />
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
              <span class="align-items-center mobile-hide capitalize text-weight-regular" style="color: white;">TEST</span>
              <mat-icon class="user-image-icon ml-1" style="color: white;"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item (click)="fnlogout()">
                <mat-icon >exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>