<div class="model">
    <br><br>
    <div>
        <h2 class="text-center title" style="color: black;">
            &nbsp;&nbsp;&nbsp;Balanced Substrings</h2><br><br>
    </div>
    <div class="container" [ngStyle]="{'box-shadow': '0px 0px 10.5px rgba(0, 0, 0, 0.3)'}">

        <mat-grid-list cols="1" rowHeight="400px" [gutterSize]="'5px'">
            <mat-grid-tile [colspan]="1" id="mat-grid-tile" style="padding-left: 45px">
                <div class="hierfun">
                    <label>Enter string:</label> &nbsp;
                    <input type="text" [(ngModel)]="inputString" /> <br><br>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button class="btn btn-info" (click)="calculateBalancedSubstrings()"> Get Balanced
                                Substrings</button>&nbsp;
                        </div>

                    </div>

                    <div *ngIf="result.length > 0" class="text-center">
                        <b>Longest Balanced Substrings:[ {{ result }} ]</b>
                    </div>
                    <div *ngIf="result.length === 0" class="text-center">
                        <b>No balanced substrings found.</b>
                    </div>
                </div>

            </mat-grid-tile>
        </mat-grid-list> <br>

    </div>



</div>